@{
    ViewData["Title"] = "Products";
}
<style>
    .sick-days-warning {
        color: red !important;
    }
</style>
<div class="card bg-dark border-dark">
    <div class="card-header">
        <span class="font-weight-bold text-white">Products</span>
        <span class="float-end">
            <button class="btn btn-outline-warning btn-sm" type="button" onclick="Common.ResetGrid()">
                <span>Reset Grid</span>
            </button>
            <button class="btn btn-outline-success btn-sm" type="button" onclick="Common.ExportToExcel()">
                <span>Export to Excel</span>
            </button>
            <button class="btn btn-outline-primary btn-sm" type="button" onclick="Common.OpenModal(this)" data-id="0" data-target="AddEditProduct">
                <span>New</span>
            </button>
        </span>
    </div>
    <div class="card-body ag-theme-balham-auto-dark" id="productsdata">
    </div>
</div>
@await Html.PartialAsync("_AddEditProduct", new MahantInv.Infrastructure.Dtos.Product.ProductCreateDto())
@section Scripts {
    <script src="~/Products/index.js" type="text/javascript" asp-append-version="true"></script>
}
